.hide {
  animation: hide 1s forwards; }

.show {
  animation: show 1s forwards; }

#nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2.5vh;
  padding: 10px;
  width: 20vh;
  z-index: 3000; }
  #nav .flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around; }
  #nav .flex-item {
    background-color: #ffffff;
    transition: all .6s;
    margin: 3.5px;
    color: white;
    flex: 1 0 auto;
    height: auto; }
  #nav .current {
    background-color: #f7faff; }
  #nav .flex-item:before {
    content: '';
    float: left;
    padding-top: 100%; }

.flex-item:hover {
  cursor: pointer;
  background-color: #0071ba !important; }

.active {
  background-color: #0071ba !important; }

@keyframes hide {
  0% {
    visibility: visible;
    opacity: .9; }
  99% {
    visibility: visible;
    opacity: 0; }
  100% {
    visibility: hidden;
    opacity: 0; } }
@keyframes show {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: .9; } }
#title {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: #e8ecf7; }
  #title .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  #title #hearts {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vh;
    margin-bottom: -25px; }
  #title .heart {
    margin: 15px;
    width: 30%;
    animation: wiggle 3s infinite; }
    #title .heart img {
      width: 100%; }
@keyframes wiggle {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1); }
  25% {
    transform: rotate(45deg) scaleX(1.7) scaleY(1.7); }
  40% {
    transform: rotate(-37deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotate(0) scaleX(1) scaleY(1); }
  100% {
    transform: rotate(0) scaleX(1) scaleY(1); } }
  #title .heart-1 {
    animation-delay: 0.85s; }
  #title .heart-2 {
    animation-delay: 1.7s; }
  #title .heart-3 {
    animation-delay: 2.55s; }
  #title h1 {
    text-align: center;
    font-family: "Circular Std Black";
    font-size: 6vh;
    color: #272a30;
    z-index: 2000; }
  #title #redBox {
    clip-path: url(#heartsClip);
    -webkit-clip-path: url(#heartsClip);
    -moz-clip-path: url(#heatsClip);
    margin: auto;
    height: 5vh;
    width: 100vw;
    background-color: red; }
  #title .description h2 {
    text-align: center;
    font-family: "Proxima Nova Alt Rg";
    font-weight: normal;
    font-size: 3vh;
    color: #161a21;
    margin-bottom: -2vh; }

#ui {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #f9fbff; }

#quote {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center; }
  #quote h1 {
    font-family: "Proxima Nova Alt Rg";
    font-size: 5vh;
    color: #161a21;
    margin-bottom: 30px; }
  #quote #close {
    cursor: pointer;
    width: 5vh;
    margin: auto;
    font-family: "Proxima Nova Alt Rg"; }
  #quote #close:hover .st0 {
    fill: #0071ba; }

#instructions {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2.5vh;
  font-family: "Proxima Nova Alt Rg";
  font-size: 1em;
  color: #272a30; }

/*# sourceMappingURL=style.css.map */
