$Circular-black : 'Circular Std Black';
$Proxima-Nova : 'Proxima Nova Alt Rg';
$class-slug: heart !default;
$heartPath: heartPath;

$white : #f9fbff;
$black : #161a21;
$darkGray : #272a30;
$lightBlue : #e8ecf7;
$darkBlue : #0071ba;

@mixin absolute-center(){
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hide{
	animation: hide 1s forwards;
}

.show{
	animation: show 1s forwards;
}

#nav{
	position: absolute;
	top: 0;
	left: 0;
	margin: 2.5vh;
	padding: 10px;
	width: 20vh;

	.flex-container{
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-flow: row;
	    justify-content: space-around;
	}

	.flex-item {
	    background-color: #ffffff;
	    transition: all .6s;
	    margin: 3.5px;
	    color: white;
	    flex: 1 0 auto;
	    height:auto;
	}

	.current{
		background-color: #f7faff;
	}

	.flex-item:before {
	    content:'';
	    float:left;
	    padding-top:100%;
	}
}

.flex-item:hover{
	cursor: pointer;
	background-color: $darkBlue !important;
}

.active{
	background-color: $darkBlue !important;
}

@keyframes hide{
	0% {visibility: visible; opacity: .9; }
	99% {visibility: visible; opacity: 0;}
	100% {visibility: hidden; opacity: 0;}
}

@keyframes show{
	0% {visibility: hidden; opacity: 0; }
	100% {visibility: visible; opacity: .9;}
}

#title{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 2000;
	background-color: $lightBlue;

	.wrapper{
		@include absolute-center;
	}

	#hearts{
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 60vh;
		margin-bottom: -25px;
	}

	.heart{
		img{
			width: 100%;
		}
		margin: 15px;
		width: 30%;
		animation: wiggle 3s infinite;
	}

	@keyframes wiggle{
		0%{transform: rotate(0deg) scaleX(1) scaleY(1);}
		25%{transform: rotate(45deg) scaleX(1.7) scaleY(1.7);}
		40%{transform: rotate(-37deg) scaleX(1) scaleY(1);}
		50%{transform: rotate(0) scaleX(1) scaleY(1);}
		100%{transform: rotate(0) scaleX(1) scaleY(1);}
	}

	// .heartPath{
	// 	fill: #282829;
	// 	animation: highlight 3s infinite;
	// }

	// @keyframes highlight{
	// 	0%{fill: #282829;}
	// 	25%{fill: #282829;}
	// 	40%{fill: #282829;}
	// 	70%{fill: #282829}
	// 	97%{fill: #ffff00}
	// 	100%{fill: #ffff00;}
	// }

	// @for $i from 1 through 3{
	// 	.#{$heartPath}-#{$i} {
	// 		animation-delay: #{$i*.85 + s};
	// 	}
	// }

	@for $i from 1 through 3{
		.#{$class-slug}-#{$i} {
			animation-delay: #{$i*.85 + s};
		}
	}

	h1{
		text-align: center;
		font-family: $Circular-black;
		font-size: 6vh;
		color: $darkGray;
		z-index: 2000;
	}

	#redBox{
		clip-path: url(#heartsClip);
		-webkit-clip-path: url(#heartsClip);
		-moz-clip-path: url(#heatsClip);
		margin: auto;
		height: 5vh;
		width:100vw;
		background-color: red;
	}

	.description{
		h2{
			text-align: center;
			font-family: $Proxima-Nova;
			font-weight: normal;
			font-size: 3vh;
			color: $black;
			margin-bottom: -2vh;
		}
	}
}

#ui {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: $white;
}

#quote{
	@include absolute-center;
	margin: auto;
	text-align: center;
	h1{
		font-family: $Proxima-Nova;
		color: $black;
		margin-bottom: 30px;
	}

	#close{
		cursor: pointer;
		height: 25px;
		width: 25px;
		margin: auto;
		// background-color: $black;
		font-family: $Proxima-Nova;
	}

	#close:hover{
		.st0{
			fill: #0071ba;
		}
	}
}

#instructions{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 2.5vh;
	font-family: $Proxima-Nova;
	font-size: 1em;
	color: $darkGray;
}